body{
 margin: 0;
 padding: 0;
 font-family: "Montserrat";
}
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
.btn{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 background: #e74c3c;
 font-size: 20px;
 color: white;
 padding: 10px 30px;
 cursor: pointer; 
}
#box{
 width: 500px;
 overflow: hidden;
 background:  #f1f1f1;
 box-shadow: 0 0 20px black;
 border-radius: 8px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 z-index: 9999;
 padding: 10px;
 text-align:center;
 display: none;
}
#box span{
 color: #2ecc71;
 font-size: 40px;
 margin: 20px 0;
 display: block;
}
#box h1{
 color: #333;
}
.close{
 font-size: 10px;
 color: white;
 padding: 10px 20px;
 cursor: pointer;
 background: #3498db;
 display: inline-block;
 border-radius: 4px;
}
